// Variables import.
@use "../../../styles/scss/variables" as *;

// Standart link style.
.link {
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.link_primary {
    color: darken($white, 10%);
    transition: all 0.05s ease-in-out;

    &:hover {
        color: $white;
    }
}
