// Variables import.
@use "../../../styles/scss/variables" as *;

// Skeleton style.
.skeleton {
    width: $width;
    height: $height;
    mask: linear-gradient(#000 0 0) top / 100% 100%;
    mask-repeat: no-repeat;
    background: linear-gradient(90deg, $gray_800 40%, $gray_700, $gray_800 60%)
        right/300% 100%;
    animation: skeleton_animation 1s linear infinite;

    // Export variabler til react brug.
    &:export {
        width: $width;
        height: $height;
    }
}

// Load animation.
@keyframes skeleton_animation {
    to {
        background-position: left;
    }
}
